services:
  redis:
    container_name: redis_container
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --loglevel warning
    volumes:
      - ./docker-volumes/cache:/data
  mongodb:
    container_name: mongodb_container
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./docker-volumes/data:/data/db
  mysql:
    container_name: mysql_container
    image: mysql
    command: --lower_case_table_names=1
    restart: always
    environment:
      - MYSQL_USER=ithust
      - MYSQL_DATABASE=ithust_auth
      - MYSQL_ROOT_PASSWORD=api
      - MYSQL_PASSWORD=api
    ports:
      - "3307:3306"
    volumes:
      - ./docker-volumes/mysql:/var/lib/mysql
  postgres:
    container_name: postgres_container
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=ithust
      - POSTGRES_PASSWORD=api
      - POSTGRES_DB=ithust_reviews
    ports:
      - "5432:5432"
    volumes:
      - ./docker-volumes/postgres:/var/lib/postgresql
  rabbitmq:
    container_name: rabbitmq_container
    image: rabbitmq:3.13-rc-management-alpine
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=ithust
      - RABBITMQ_DEFAULT_PASS=ithustpass
    ports:
     # AMQP Protocol port
     - '5672:5672'
     # Management UI port
     - '15672:15672'
  elasticsearch:
    container_name: elasticsearch_container
    image: docker.elastic.co/elasticsearch/elasticsearch:8.10.4
    restart: always
    environment:
      ES_JAVA_OPTS: -Xms1g -Xmx1g
      bootstrap.memory_lock: "true"
      discovery.type: single-node
      xpack.security.enabled: "false"
      xpack.security.authc.api_key.enabled: "true"
      xpack.monitoring.collection.enabled: "true"
      xpack.security.enrollment.enabled: "true"
    ports:
      - 9200:9200
      - 9300:9300
    volumes:
      - ./docker-volumes/elasticsearch-data:/usr/share/elasticsearch/data
    networks:
      - elastic
  kibana:
    container_name: kibana_container
    image: docker.elastic.co/kibana/kibana:8.10.4
    restart: always
    environment:
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200
    ports:
      - 5601:5601
    networks:
      - elastic
    volumes:
      - ./kibana.yml:/usr/share/kibana/config/kibana.yml:ro
    depends_on:
      - elasticsearch

  gateway:
    container_name: gateway_container
    build:
      context: ../server/1-gateway-service
      dockerfile: Dockerfile.dev
    restart: always
    ports:
      - 4000:4000
    env_file: ../server/1-gateway-service/.env
    environment:
        - ENABLE_APM=0
        - GATEWAY_JWT_TOKEN=16c8a66dfd0ab081047840e3c04c520e
        - JWT_TOKEN=e3ae7fbb00a36638c0a8ee35e3a04a7f
        - NODE_ENV=development
        - SECRET_KEY_ONE=115179afbb25d7e0607053c2a5a00d3d
        - SECRET_KEY_TWO=d8c2a398015c7534431afb798617ce94
        - CLIENT_URL=http://localhost:3000
        - AUTH_BASE_URL=http://localhost:4002
        - USERS_BASE_URL=http://localhost:4003
        - GIG_BASE_URL=http://localhost:4004
        - MESSAGE_BASE_URL=http://localhost:4005
        - ORDER_BASE_URL=http://localhost:4006
        - REVIEW_BASE_URL=http://localhost:4007
        - REDIS_HOST=redis://redis_container:6379
        - ELASTIC_SEARCH_URL=http://elasticsearch_container:9200
        - ELASTIC_APM_SERVER_URL=http://localhost:8200
        - ELASTIC_APM_SECRET_TOKEN=
    depends_on:
      - elasticsearch

  notifications:
    container_name: notifications_container
    build:
      context: ../server/2-notification-service
      dockerfile: Dockerfile.dev
    restart: always
    ports:
      - 4001:4001
    env_file: ../server/2-notification-service/.env
    environment:
      - ENABLE_APM=0
      - NODE_ENV=development
      - CLIENT_URL=http://localhost:3000
      - RABBITMQ_ENDPOINT=amqp://ithust:ithustpass@localhost:5672
      - SENDER_EMAIL=willow.lubowitz@ethereal.email
      - SENDER_EMAIL_PASSWORD=A7efG3qU8da958nKwt
      - ELASTIC_SEARCH_URL=http://localhost:9200
      - ELASTIC_APM_SERVER_URL=http://localhost:8200
      - ELASTIC_APM_SECRET_TOKEN=
    depends_on:
      - elasticsearch

  auth:
    container_name: auth_container
    build:
      context: ../server/3-auth-service
      dockerfile: Dockerfile.dev
    restart: always
    ports:
      - 4002:4002
    env_file: ../server/3-auth-service/.env
    environment:
      - ENABLE_APM=0
      - GATEWAY_JWT_TOKEN=16c8a66dfd0ab081047840e3c04c520e
      - JWT_TOKEN=e3ae7fbb00a36638c0a8ee35e3a04a7f
      - NODE_ENV=development
      - AP_GATEWAY_URL=http://localhost:4000
      - CLIENT_URL=http://localhost:3000
      - RABBITMQ_ENDPOINT=amqp://ithust:ithustpass@localhost:5672
      - MYSQL_DB=mysql://ithust:api@localhost:3307/ithust_auth
      - CLOUD_NAME=dbxa1k1w1
      - CLOUD_API_KEY=973917574881987
      - CLOUD_API_SECRET=Je5-aTjVyHJiqyW4734VyqlQyxI
      - ELASTIC_SEARCH_URL=http://localhost:9200
      - ELASTIC_APM_SERVER_URL=http://localhost:8200
      - ELASTIC_APM_SECRET_TOKEN=
    depends_on:
      - elasticsearch
      - mysql
    
networks:
  elastic:
    name: elastic
