NODE_ENV=production
ENABLE_APM=1
ELASTIC_APM_SERVER_URL=https://apm.YOUR_DOMAIN.com
ELASTIC_APM_SECRET_TOKEN=REPLACE_APM_SECRET

JWT_TOKEN=REPLACE_ME
GATEWAY_JWT_TOKEN=REPLACE_ME
RABBITMQ_ENDPOINT=amqp://USER:PASS@rabbitmq.production.svc.cluster.local:5672
MYSQL_DB=mysql://USER:PASS@mysql.production.svc.cluster.local:3306/ithust_auth
API_GATEWAY_URL=http://ithust-gateway.production.svc.cluster.local:4000
CLIENT_URL=https://YOUR_DOMAIN.com
CLOUD_NAME=REPLACE_ME
CLOUD_API_KEY=REPLACE_ME
CLOUD_API_SECRET=REPLACE_ME
ELASTIC_SEARCH_URL=http://ithust-elastic.production.svc.cluster.local:9200
